{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <h1 class="text-center">Reset Password</h1>
    <form action="" method="post" class="mt-4">
        {{ form.hidden_tag() }}
        <div class="mb-3">
            <label for="{{ form.p1.id }}" class="form-label">{{ form.p1.label }}</label>
            {{ form.p1(class="form-control", size=32) }}
            {% for error in form.p1.errors %}
                <div class="text-danger">{{ error }}</div>
            {% endfor %}
        </div>
        <div class="mb-3">
            <label for="{{ form.p2.id }}" class="form-label">{{ form.p2.label }}</label>
            {{ form.p2(class="form-control", size=32) }}
            {% for error in form.p2.errors %}
                <div class="text-danger">{{ error }}</div>
            {% endfor %}
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
{% endblock %}
